.navbar {
    grid-area: n;
    background-color: coral;
    padding-top: 20px;
    width: 100%;
}

.navButt {
    border-bottom: 1px solid darkolivegreen;
    background-color: coral;
    transition: 300ms;
    height: 30px;
    width: 100%;
    transition: 300ms;
}

.navButt:hover {
    background-color: #ff561a;
    transform: scale(1.1);

}

.navText {
    font-size: 20px;
    font-family: "American Typewriter";
    color: rgba(255, 229, 169, 0.91);
    width: 5px;
}
