.app-wrapper{
  background-color: #171717;
  display: grid;
  grid-template-areas:
  "h h"
  "n b";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  font-family: "American Typewriter"
}





